body{
  background-image: url("../assets/station.jpeg");
}


h1{
  margin-top: 10px;
  margin-bottom: 10px;
}


.people {
  text-align: center;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
}

#count-el {
  text-align: center;
  color: aliceblue;
}

#save-el {
  text-align: center;
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 30px;
  font-weight: bold;
}

button{
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
  width: 200px;
  border-radius: 5px;
}

#increment-btn {
  background: darkred;
  display: block;
  margin: auto;
}

#increment-btn:hover {
  background-color: darkorange;
}

#save-btn {
  background: darkorange;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 9px;
}

#save-btn:hover {
  background-color: darkred;
}

button:hover {
  color: blue;
}